/*usual parts of webpage*/
body {
	background-color: #6fa2a8fd;
	font-family: Arial, sans-serif;
	color: white;

}

/*classes*/

/*header.php*/
.icons{
	height: 40px;
	fill: white;
}

/*conversations.php*/
.conversation{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
	height : 60px;
	align-items: center;
}
.conversation:hover{
    background-color: #8aa6a9;
}

.convName, .convDate, .convMessage{
    display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.convDate{
    float: right;
}

.convPp{
    float: left;
	width : 50px;
	height : 50px;
}

/*profile.php*/
.voiture{
	margin-top: 20px;
	padding: 10px;
	width: 50%;
	background-color: #4a7b80fd;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.voiture > img{
	width: 20px;
	height: 20px;
}
.voiture > button{
	background-color: orange;
	color: white;
	height : 40px;
	width: 100px;
	border-radius: 15px;
	font-size: 2ch;
	align-self: flex-end;
}
.liste{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*ids*/
/**/
/*header.php*/
#banniere img{
	height:60px;
	margin-right:10px;
}


#banniere form {
	float:right;
}

#banniere input {
	float:left;
}

#pied {
	bottom:5px;left:5px;right:5px;
	border-top :1px solid black;
	padding:20px;
	margin:10px;
}

#corps {
	border :1px solid black;
	padding:20px;
	margin:10px;
}

#titre {
	border :1px solid black;
	padding:20px;
	margin:10px;
}

#banniere {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display : flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #1f2f31;
	padding: 5px;
	height: 70px
}

#stitre{
	width : 50%;
	text-align:center;
	color : white;
}

#logo {
	display:inline;
	float:left;
}

#navbar {
	display:flex;
	justify-content: space-evenly;
	width : 50%;
}

/*conversations.php*/
#topBarConv{
    position: relative;
    left: 0;
    right: 0;
    top:0;
    padding: 5px;
    border-bottom: 1px solid white;
    text-align: center;
}

#archiveButton{
    position: absolute;
    bottom : 5px;
    right : 5px;
}

#titleConv{
    display: inline;
	font-size: 9ch;
}

#newMessageTo{
	color : #ebebeb;
	font-size: 5ch;
}

#newMessageForm{
	margin-top : 30px;
	padding: 10px;
	padding-bottom: 30px;
	padding-left: 70px;
	border-bottom: 1px solid white;
}

#newMessageForm input {
	border-radius: 15px;
	width : 700px;
}

#newMessageForm input[type="button"] {
	height : 60px;
	width : 150px;
	font-size: 2ch;
	background-color: orange;
	color : white;
}

#receiver {
	height : 30px;
}
#content {
	height : 60px;
}

#loadMoreButton{
    text-align: center;
    background-color: orange;
    padding: 10px;
    cursor: pointer;
}

#loadMoreButton:hover{
    background-color: darkorange;
}

/*chat.php*/

#wholeChat{
	display: flex;
	justify-content: center;
	align-items: center;
	position : fixed;
	bottom : 90px;
	left: 0;
	right: 0;
}

#wholeChat > input{
	margin : 5px;
	border-radius: 15px;
	height : 30px;
}

#wholeChat > input[type="text"] {
	width : 80%;
}

#wholeChat > input[type="button"] {
	width : 5%;
	background-color: orange;
}

/*profile.php*/

#settingInfos{
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 1px solid white;
	padding: 10px;
	width: 90%;
	font-size: 6ch;
}

#settingInfos > button {
	background-color: orange;
	color: white;
	height : 40px;
	width: 70px;
	border-radius: 15px;
	font-size: 0.7ch;
}
#formEditInfos{
	display: none;
	font-size: 0.7ch;
	margin-top: 15px;
}
#formEditInfos > form  input[type="text"]{
	height : 40px;
	width: 400px;
	font-size: 1.5ch;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid white;
}
#formEditInfos > form > input[type="submit"]{
	margin-top: 10px;
	height : 50px;
	width: 200px;
	border-radius: 15px;
	font-size: 1.5ch;
	color: white;
	background-color: orange;
}
#settingStaticInfos{
	display: block;
	font-size: 0.7ch;
}
#formCreationVoiture{
	margin-top: 20px;
	padding: 10px;
	width: 90%;
	font-size: 2ch;
}
#voituresProfile{
	width: 100%;
	font-size: 3ch;
}
#formCreationVoiture > form > input[type="text"]{
	height : 40px;
	width: 400px;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid white;
	font-size: 1ch;
}
#formCreationVoiture > form > input[type="submit"]{
	display: inline;
	height : 40px;
	width: 200px;
	border-radius: 15px;
	font-size: 1ch;
	color: white;
	background-color: orange;
}
#listeVoitures{
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	font-size: 1.5ch;
}

@media only screen and (max-width: 1000px) {
	.icons{
		height: 70px;
	}
	.convPp{
		width : 100px;
		height : 100px;
	}
	.voiture{
		width : 95%;
		font-size: 3ch;
	}
	#banniere{
		padding: 10px;
	}
	#stitre{
		display: none;
		width : 0%;
	}
	#logo{
		display: none;
		width : 0%;
	}
	#navbar{
		width : 90%;
	}
	#newMessageForm{
		align-self: left;
	}
	#receiver {
		height : 75px;
	}
	#content {
		height : 150px;
	}
	#newMessageForm input[type="button"] {
		height : 150px;
	}
	#loadMoreButton{
		font-size : 5ch;
	}
	#wholeChat{
		bottom : 100px;
	}
	#wholeChat > input{
		height : 75px;
	}
	#wholeChat > input[type="text"] {
		width : 90%;
	}
	
	#wholeChat > input[type="button"] {
		width : 10%;
		font-size: 2ch;
	}
}




























